<header class="mb-4">
    <a href="/">
        <img id="logo" src="/public/images/logo.png" alt="Logo NodeResto">
    </a>
    <nav>
        <ul>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/">Réservation</a></li>
        </ul>
        <ul>
            <li><a href="/">Panier</a></li>
            <li> <a href="/auth/login">
                    <%= locals.user !=undefined ? locals.user.username : "Connexion" %>
                </a>
            </li>
        </ul>
    </nav>

</header>


<script>
"use strict";







</script>