<%- include("./includes/head.ejs")  %> 

</head>

<body>
    <%- include("./includes/header.ejs")  %> 

    <main>

        <div>
            <div class="home-logo">
                <img src="/public/images/logo.png" alt="">
            </div>
        </div>
        <div>
            <h3 class="center home-title">NodeResto</h3>

            <div class="items">

                <div id="carouselNodeResto" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/public/images/home/home-pizza-fromage.jpg" class="d-block w-100" alt="Pizza fromage">
                    </div>
                    <div class="carousel-item">
                        <img src="/public/images/home/home-pates.jpg" class="d-block w-100" alt="Pates">
                    </div>
                    <div class="carousel-item">
                        <img src="/public/images/home/home-poutine.jpg" class="d-block w-100" alt="Poutine">
                    </div>
                    </div>
                </div>

                <div class="description">
                    <p class="fs-3">Lorem ipsum</p>
                    <p class="fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dignissimos ducimus id dolor labore, reiciendis illum quidem assumenda ab modi voluptatem rem aut deleniti quam sapiente nobis ex, ut aliquid.</p>
                </div>

            </div>
        </div>

    </main>
    <%- include("./includes/end.ejs")  %> 
</body>

<style scoped>

    .home-title{
        font-size: 5rem;
        color: green;
        padding: 2rem 0px!important;

    }
    .home-logo{
        display: block;
        width: 5px;
    }
    body{
        width: 100vw !important;
        /* height: 100vh !important; */
        margin: 0 !important;
        background-image: url("../public/images/index.jpg");
        background-size: cover;
        background-position: center;
    }

    .carousel-item img{
        border-radius: 40px;
        height: 300px !important;
        width: 300px !important;
    }

    .description{
        position: relative;
        top: -18rem !important;
        right: -20rem !important;
    }

</style>