<%- include ('includes/head.ejs') %>
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" type="text/css" href="/public/css/menu.css">

</head>

<body>
  <%- include('includes/header.ejs') %>
  <h1></h1>
  <p>Menu </p>

  <div id="app">

    <!-- CHOIX MENU CHKBOX -->
    <div id="choixMenu" >

        <!-- CHECKBOX ENTRER -->
      <div id="choixMenu2">
        <div id="chkBox">
          <input type="checkbox" id="entrerChk" value="entrerChk" v-model="entrerChk">
          <label for="entrerChk"> entrer</label>
        </div>

        <!-- CHECKBOX PLAT -->
        <div id="chkBox">
          <input type="checkbox" id="platChkBox" value="platChk" v-model="platChk">
          <label for="platChk"> plat</label>
        </div>

        <!-- CHECKBOX DESSERT -->
        <div id="chkBox">
          <input type="checkbox" id="dessert" value="dessertChk" v-model="dessertChk">
          <label for="dessertChk"> dessert</label>
        </div id="chkBox">

        <!-- CHECKBOX VEGE -->
        <div id="chkBox">
          <input type="checkbox" id="vege" value="vegeChk" v-model="vegeChk">
          <label for="vegeChk"> vege</label>
        </div>
      </div>
    </div>


  <!-- MENU COMPLET -->
      <div class="menuComplet">
        <div><div_plat v-bind:menu_componant="menuFiltred(entrerChk,platChk,dessertChk,vegeChk)"/></div>
      </div>

    </div>
  </div>
  <%- include('includes/end.ejs') %>
</body>

<!--  ---------------VUE JS --------------- -->

<script>
  Vue.component("div_plat", {
    props: ["menu_componant"],
    template: `   
    <div class="sousMenu">
    <div id="plat" v-for="repas in menu_componant">
      <a v-bind:href="'/plat/'+repas._id">
        <div>
          {{repas.name}}
        </div>

        <div>
          {{repas.description}}
        </div>

        <div>
          {{repas.categorie}}
        </div>

        <div>
          {{repas.prix}}
        </div>

        <div>
          repas vege : {{repas.vege}}
        </div>

        <div>
          <img :src="'./public/images/'+repas.name+'.jpg'">
        </div>
      </a>
      </div>
      </div>`
  })


  var app = new Vue({
    el: '#app',

    data: {
      menu: JSON.parse('<%-menu%>'),
      fontSize: '30px',
      entrerChk: false,
      platChk: false,
      dessertChk: false,
      vegeChk: false,
    },

    computed: {
      menuFiltredVege: function () {
        return this.menu.filter(plat => plat.vege == true)
      }
    },

    methods:{
      menuFiltred: function (entrerChk,platChk,dessertChk,vege) {
        menuFiltred = []
        if(vege){
          if(entrerChk){menuFiltred = menuFiltred.concat(this.menuFiltredVege.filter(plat => plat.categorie == "entrer"))}
          if(platChk){menuFiltred = menuFiltred.concat(this.menuFiltredVege.filter(plat => plat.categorie == "plat"))}
          if(dessertChk){menuFiltred = menuFiltred.concat(this.menuFiltredVege.filter(plat => plat.categorie == "dessert"))}
        }
        if(!vege){
          if(entrerChk){menuFiltred = menuFiltred.concat(this.menu.filter(plat => plat.categorie == "entrer"))}
          if(platChk){menuFiltred = menuFiltred.concat(this.menu.filter(plat => plat.categorie == "plat"))}
          if(dessertChk){menuFiltred = menuFiltred.concat(this.menu.filter(plat => plat.categorie == "dessert"))}
        }
        if(!vege && !entrerChk && !platChk && !dessertChk){menuFiltred = this.menu}
        if(vege && !entrerChk && !platChk && !dessertChk){menuFiltred = this.menuFiltredVege}

        return menuFiltred
        // filtre par rapport aux chk
      },
    }
  })
</script>

</html>