<%- include ('includes/head.ejs') %>
<script src="https://unpkg.com/vue"></script>
</head>

<body>
  <h1></h1>
  <p>Menu </p>

  <div id="app">

    <div choixMenu>

      <input type="checkbox" id="entrerChk" value="entrerChk" v-model="entrerChk">
      <label for="entrerChk">entrer</label>

      <input type="checkbox" id="plat" value="platChk" v-model="platChk">
      <label for="platChk">plat</label>

      <input type="checkbox" id="dessert" value="dessertChk" v-model="dessertChk">
      <label for="dessertChk">dessert</label>

      <input type="checkbox" id="vege" value="vegeChk" v-model="vegeChk">
      <label for="vegeChk">vege</label>

    </div>




    <!-- --------------------------------------------------------- -->
    <!-- MENU DE PLAT SELECTONNER  -->

    <div v-for="repas in menu" style="margin: 3em;">


      <!-- --------------------------------------------------------- -->
      <!-- SI  VEGE :  -->

      <div v-if="repas.vege == true && vegeChk == true">

        <div v-if="repas.categorie == 'entrer' && entrerChk == true">
          <div>
            {{repas.name}}
          </div>

          <div>
            {{repas.description}}
          </div>

          <div>
            {{repas.categorie}}
          </div>

          <div>
            {{repas.prix}}
          </div>

          <div>
            repas vege : {{repas.vege}}
          </div>
        </div>


        <div v-if="repas.categorie == 'plat' && platChk == true">
          <div>
            {{repas.name}}
          </div>

          <div>
            {{repas.description}}
          </div>

          <div>
            {{repas.categorie}}
          </div>

          <div>
            {{repas.prix}}
          </div>

          <div>
            repas vege : {{repas.vege}}
          </div>
        </div>


        <div v-if="repas.categorie == 'dessert' && dessertChk == true">
          <div>
            {{repas.name}}
          </div>

          <div>
            {{repas.description}}
          </div>

          <div>
            {{repas.categorie}}
          </div>

          <div>
            {{repas.prix}}
          </div>

          <div>
            repas vege : {{repas.vege}}
          </div>
        </div>

        <div v-if="entrerChk == false && platChk == false  && dessertChk == false">
          <div>
            {{repas.name}}
          </div>

          <div>
            {{repas.description}}
          </div>

          <div>
            {{repas.categorie}}
          </div>

          <div>
            {{repas.prix}}
          </div>

          <div>
            repas vege : {{repas.vege}}
          </div>
        </div>

      </div>

      <!-- --------------------------------------------------------- -->
      <!-- SI NON VEGE :  -->

      <div v-if="vegeChk == false">

        <div v-if="repas.categorie == 'entrer' && entrerChk == true">
          <div>
            {{repas.name}}
          </div>

          <div>
            {{repas.description}}
          </div>

          <div>
            {{repas.categorie}}
          </div>

          <div>
            {{repas.prix}}
          </div>

          <div>
            repas vege : {{repas.vege}}
          </div>
        </div>


        <div v-if="repas.categorie == 'plat' && platChk == true">
          <div>
            {{repas.name}}
          </div>

          <div>
            {{repas.description}}
          </div>

          <div>
            {{repas.categorie}}
          </div>

          <div>
            {{repas.prix}}
          </div>

          <div>
            repas vege : {{repas.vege}}
          </div>
        </div>


        <div v-if="repas.categorie == 'dessert' && dessertChk == true">
          <div>
            {{repas.name}}
          </div>

          <div>
            {{repas.description}}
          </div>

          <div>
            {{repas.categorie}}
          </div>

          <div>
            {{repas.prix}}
          </div>

          <div>
            repas vege : {{repas.vege}}
          </div>
        </div>

        <div v-if="entrerChk == false && platChk == false  && dessertChk == false">
          <div>
            {{repas.name}}
          </div>

          <div>
            {{repas.description}}
          </div>

          <div>
            {{repas.categorie}}
          </div>

          <div>
            {{repas.prix}}
          </div>

          <div>
            repas vege : {{repas.vege}}
          </div>
        </div>


      </div>


    </div>

  </div>

  <%- include('includes/end.ejs') %>

</body>


<script>
  // -------------------------------------------
  var app = new Vue({
    el: '#app',
    data: {
      menu: JSON.parse('<%-menu%>'),
      fontSize: '30px',
      vege: false,
      entrerChk: false,
      platChk: false,
      dessertChk: false,
      vegeChk: false,

    },
    computed: {
      catEntrer() {
        return {
          active: this.catEntrerSelected
        };
      },

      boxAClasses() {
        return {
          active: this.boxASelected
        };
      },

    },
    methods: {

      boxSelected(box) {
        if (box === 'A') {
          this.boxASelected = !this.boxASelected;
          this.color = this.boxASelected ? 'white' : 'red';
        }

      },

    }
  })
</script>

</html>