<%- include ('includes/head.ejs') %>
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" type="text/css" href="/public/css/menu.css">

</head>

<body>
  <%- include('includes/header.ejs') %>
  <h1></h1>
  <p>Menu </p>

  <div id="app">

    <div id="choixMenu" >

      <div id="choixMenu2">
        <div id="chkBox">
          <input type="checkbox" id="entrerChk" value="entrerChk" v-model="entrerChk">
          <label for="entrerChk"> entrer</label>
        </div>

        <div id="chkBox">
          <input type="checkbox" id="platChkBox" value="platChk" v-model="platChk">
          <label for="platChk"> plat</label>
        </div>

        <div id="chkBox">
          <input type="checkbox" id="dessert" value="dessertChk" v-model="dessertChk">
          <label for="dessertChk"> dessert</label>

        </div id="chkBox">


        <div id="chkBox">
          <input type="checkbox" id="vege" value="vegeChk" v-model="vegeChk">
          <label for="vegeChk"> vege</label>
        </div>

      </div>
    </div>

      <div class="menuComplet">
      <!-- SI VEGE -->
      <div v-if="entrerChk && vegeChk"><div_plat v-bind:menu_componant="menuFiltredEntrerVege"/></div>
      <div v-if="platChk && vegeChk"><div_plat v-bind:menu_componant="menuFiltredPlatVege"/></div>
      <div v-if="dessertChk && vegeChk"><div_plat v-bind:menu_componant="menuFiltredDessertVege"/></div>
      <div v-if="!dessertChk && !platChk && !entrerChk && vegeChk"><div_plat v-bind:menu_componant="menuFiltredVege"/></div>
  

      <!-- SINON -->
      <div v-if="entrerChk && !vegeChk"><div_plat v-bind:menu_componant="menuFiltredEntrer"/></div>
      <div v-if="platChk && !vegeChk"><div_plat v-bind:menu_componant="menuFiltredPlat"/></div>
      <div v-if="dessertChk && !vegeChk"><div_plat v-bind:menu_componant="menuFiltredDessert"/></div>

      <!-- SI RIEN  -->
      <div v-if="!dessertChk && !platChk && !entrerChk "><div_plat v-bind:menu_componant="menu"/></div>


      </div>

    </div>

  </div>

  <%- include('includes/end.ejs') %>

</body>


<script>
  // -------------------------------------------
  Vue.component("div_plat", {
    props: ["menu_componant"],
    template: `   
    <div class="sousMenu">
    <div id="plat" v-for="repas in menu_componant">
      <a v-bind:href="'/plat/'+repas._id">
        <div>
          {{repas.name}}
        </div>

        <div>
          {{repas.description}}
        </div>

        <div>
          {{repas.categorie}}
        </div>

        <div>
          {{repas.prix}}
        </div>

        <div>
          repas vege : {{repas.vege}}
        </div>

        <div>
          <img :src="'./public/images/'+repas.name+'.jpg'">
        </div>
      </a>
      </div>
      </div>
`
  })


  var app = new Vue({
    el: '#app',

    data: {
      menu: JSON.parse('<%-menu%>'),
      fontSize: '30px',
      vege: false,
      entrerChk: false,
      platChk: false,
      dessertChk: false,
      vegeChk: false,
    },
    computed: {
      // filtrer
      menuFiltredEntrer: function () {
        return this.menu.filter(plat => plat.categorie == "entrer")
        // filtre par rapport aux chk
      },
      menuFiltredPlat: function () {
        return this.menu.filter(plat => plat.categorie == "plat")
        // filtre par rapport aux chk
      },
      menuFiltredDessert: function () {
        return this.menu.filter(plat => plat.categorie == "dessert")
        // filtre par rapport aux chk
      },

      menuFiltredEntrerVege: function () {
        return this.menuFiltredVege.filter(plat => plat.categorie == "entrer")
        // filtre par rapport aux chk
      },
      menuFiltredPlatVege: function () {
        return this.menuFiltredVege.filter(plat => plat.categorie == "plat")
        // filtre par rapport aux chk
      },
      menuFiltredDessertVege: function () {
        return this.menuFiltredVege.filter(plat => plat.categorie == "dessert")
        // filtre par rapport aux chk
      },

      menuFiltredVege: function () {
        return this.menu.filter(plat => plat.vege == true)
      }

    },
  })
</script>

</html>