<%- include ('includes/head.ejs') %>
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" type="text/css" href="/public/css/menu.css">

</head>

<body>
  <%- include('includes/header.ejs') %>
  <h1></h1>
  <p>Menu </p>

  <div id="app">

    <div id="choixMenu" choixMenu>

      <div id="choixMenu2">
        <div id="chkBox"> 
          <input type="checkbox" id="entrerChk" value="entrerChk" v-model="entrerChk">
          <label for="entrerChk"> entrer</label>
        </div>

        <div id="chkBox">
          <input type="checkbox" id="platChkBox" value="platChk" v-model="platChk">
          <label for="platChk"> plat</label>
        </div>

        <div id="chkBox">
          <input type="checkbox" id="dessert" value="dessertChk" v-model="dessertChk">
          <label for="dessertChk"> dessert</label>

        </div id="chkBox">

      
        <div id="chkBox">
          <input type="checkbox" id="vege" value="vegeChk" v-model="vegeChk">
          <label for="vegeChk"> vege</label>
        </div>

      </div>
    </div>




    <!-- --------------------------------------------------------- -->
    <!-- MENU DE PLAT SELECTONNER  -->
    <div id="menuComplet">
      <div v-for="repas in menu" style="margin: 3em, ">


        <!-- --------------------------------------------------------- -->
        <!-- SI  VEGE :  -->

        <div v-if="repas.vege == true && vegeChk == true">

          <div id="plat" v-if="repas.categorie == 'entrer' && entrerChk == true">
            <div>
              {{repas.name}}
            </div>

            <div>
              {{repas.description}}
            </div>

            <div>
              {{repas.categorie}}
            </div>

            <div>
              {{repas.prix}}
            </div>

            <div>
              repas vege : {{repas.vege}}
            </div>

            <div>
              <img :src="'./public/images/'+repas.name+'.jpg'" >
            </div>
          </div>


          <div id="plat" v-if="repas.categorie == 'plat' && platChk == true">
            <div>
              {{repas.name}}
            </div>

            <div>
              {{repas.description}}
            </div>

            <div>
              {{repas.categorie}}
            </div>

            <div>
              {{repas.prix}}
            </div>

            <div>
              repas vege : {{repas.vege}}
            </div>

            <div>
              <img :src="'./public/images/'+repas.name+'.jpg'" >
            </div>
          </div>


          <div id="plat" v-if="repas.categorie == 'dessert' && dessertChk == true">
            <div>
              {{repas.name}}
            </div>

            <div>
              {{repas.description}}
            </div>

            <div>
              {{repas.categorie}}
            </div>

            <div>
              {{repas.prix}}
            </div>

            <div>
              repas vege : {{repas.vege}}
            </div>

            <div>
              <img :src="'./public/images/'+repas.name+'.jpg'" >
            </div>
          </div>

          <div id="plat" v-if="entrerChk == false && platChk == false  && dessertChk == false">
            <div>
              {{repas.name}}
            </div>

            <div>
              {{repas.description}}
            </div>

            <div>
              {{repas.categorie}}
            </div>

            <div>
              {{repas.prix}}
            </div>

            <div>
              repas vege : {{repas.vege}}
            </div>

            <div>
              <img :src="'./public/images/'+repas.name+'.jpg'" >
            </div>
          </div>

        </div>

        <!-- --------------------------------------------------------- -->
        <!-- SI NON VEGE :  -->

        <div v-if="vegeChk == false">

          <div id="plat" v-if="repas.categorie == 'entrer' && entrerChk == true">
            <div>
              {{repas.name}}
            </div>

            <div>
              {{repas.description}}
            </div>

            <div>
              {{repas.categorie}}
            </div>

            <div>
              {{repas.prix}}
            </div>

            <div>
              repas vege : {{repas.vege}}
            </div>

            <div>
              <img :src="'./public/images/'+repas.name+'.jpg'" >
            </div>
          </div>


          <div id="plat" v-if="repas.categorie == 'plat' && platChk == true">
            <div>
              {{repas.name}}
            </div>

            <div>
              {{repas.description}}
            </div>

            <div>
              {{repas.categorie}}
            </div>

            <div>
              {{repas.prix}}
            </div>

            <div>
              repas vege : {{repas.vege}}
            </div>

            <div>
              <img :src="'./public/images/'+repas.name+'.jpg'" >
            </div>
          </div>


          <div id="plat" v-if="repas.categorie == 'dessert' && dessertChk == true">
            <div>
              {{repas.name}}
            </div>

            <div>
              {{repas.description}}
            </div>

            <div>
              {{repas.categorie}}
            </div>

            <div>
              {{repas.prix}}
            </div>

            <div>
              repas vege : {{repas.vege}}
            </div>

            <div>
              <img :src="'./public/images/'+repas.name+'.jpg'" >
            </div>
          </div>

          <div id="plat" v-if="entrerChk == false && platChk == false  && dessertChk == false">
            <div>
              {{repas.name}}
            </div>

            <div>
              {{repas.description}}
            </div>

            <div>
              {{repas.categorie}}
            </div>

            <div>
              {{repas.prix}}
            </div>

            <div>
              repas vege : {{repas.vege}}
            </div>

            <div>
              <img :src="'./public/images/'+repas.name+'.jpg'" >
            </div>
          </div>


        </div>


      </div>



    </div>



  </div>

  <%- include('includes/end.ejs') %>

</body>





check 
<div v-for="plat, index in menu" :key="index">

    <div>
      <div>
        {{repas.name}}
      </div>

      <div>
        {{repas.description}}
      </div>

      <div>
        {{repas.categorie}}
      </div>

      <div>
        {{repas.prix}}
      </div>

      <div>
        repas vege : {{repas.vege}}
      </div>

      <div>
        <img :src="'./public/images/'+repas.name+'.jpg'" >
      </div>
    </div>
</div>






<script>
  // -------------------------------------------
  var app = new Vue({
    el: '#app',
    data: {
      menu: JSON.parse('<%-menu%>'),
      fontSize: '30px',
      vege: false,
      entrerChk: false,
      platChk: false,
      dessertChk: false,
      vegeChk: false,

    },
    methods: {
      isVege(){
        menu = menu.filter(plat => plat.vege);
      }
    }
  })
</script>

</html>