form {
   margin: 0 auto;
   padding: 2%;
   border: 1.5px solid rgb(71, 83, 110);
   border-radius: 25px;
   transition: box-shadow 0.3s;
}

form:hover{
    box-shadow: 1px 1px 10px 1px rgb(71, 83, 110);
}

