@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    // background-image: linear-gradient(to bottom, rgba(169, 231, 218, 0.6), rgba(220, 231, 169, 0.4));
    background: linear-gradient(to bottom, hsl(180, 69%, 95%), hsl(180, 60%, 87%));
    min-height: 100vh;

    header {
        // Positionnement
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;

        background-color: hsl(187, 30%, 90%);
        display: flex;
        justify-content: space-between;
        padding: 1.5% 4%;
        margin: 0.5%;
        box-shadow: 0px 2px 1rem 0px rgba(83, 199, 174, 0.9);

        #logo {
            cursor: pointer;
            width: 5vw;
            height: 10vh;
            border-radius: 1rem;

            transition: all 0.3s ease 0s;
            &:hover{
                box-shadow: 0 2px 8px 0 rgba(83, 199, 174, 0.9);
            }
        }

        nav {
            min-width: 52vw;
            display: flex;
            justify-content: space-between;
            ul{
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    padding: 10px;
                    a {
                        color: rgb(59, 73, 100);
                        font-family: "Montserrat", sans-serif;
                        font-weight: 500;
                        font-size: 1.2rem;
                        text-decoration: none;

                        transition: all 0.3s ease 0s;

                        &:hover{
                            color: rgba(83, 199, 174, 0.9);
                        }
                    }
                }
            }
        }

        max-height: 17vh;

        .sticky{
            background: linear-gradient(to bottom, rgba(207, 200, 175, 0.2), rgba(169, 231, 218, 0));
            color: red;
        }
    }

    main {
        position: relative;
        top: 20vh;
        width: 75vw;
        margin: 0 auto;
        display: block;
        min-height: 80vh;

        .titre {
            color: rgb(71, 83, 110);
            display: block;
            padding-bottom: 1.5rem;
            margin-bottom: 1.5rem;
            border-bottom: 2px solid rgb(175, 223, 220);
        }

        .error {
            font-size: 115%;
            color: red;
            text-shadow: 0px 0px 20px red;
        }

        .valider {
            font-size: 115%;
            color: rgb(110, 187, 110);
            text-shadow: 0px 0px 20px rgb(53, 253, 4);

        }
    }
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}