

#plat {
    margin:  2rem;
    padding: 2rem;
    border: 1.5px solid rgb(71, 83, 110);
    border-radius: 25px;
    transition: box-shadow 0.3s;
    width: 40rem;
 }
 
 #plat:hover{
     box-shadow: 1px 1px 10px 1px rgb(71, 83, 110);
 }

 #choixMenu{
    border: 2px solid #afdfdc;
    border-radius: 10px;
    flex-grow: 1;
    background-color: #deebed;

 }

 #choixMenu2{
    padding: 1rem;
    padding-right: 5rem;
    margin: 0.1rem;
    border: 2px solid #afdfdc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #deebed;

 }

 #app{
     display: flex;
     flex-direction: row;
 }

 .menuComplet{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 10;
    
 }

 #chkBox{
     margin-right: 20%;
     display: flex;
     flex-direction: row;
 }

 .link{
     list-style: none;
     text-decoration: none;
     color: black;
 }

 .sousMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 a {
     list-style: none;
     text-decoration: none;
     color: black;
 }