form {
    display: flex;
    flex-direction: column;
    width: 50vw;
}


form input[type="text"],
input[type="email"],
input[type="password"] {
    box-shadow: aquamarine;
    border-radius: 5px;
}


form div {
    display: flex;
    margin: 1%;
    justify-content: space-between;
}

.btnSubmit {
    margin-top: 1rem;
    align-self: flex-start;
}