<%- include ('../includes/head.ejs') %>

  <link rel="stylesheet" href="/public/css/rte_theme_default.css" />
  <script type="text/javascript" src="/public/js/rte.js"></script>
  <script type="text/javascript" src='/public/js/all_plugins.js'></script>



  </head>

  <body>
    <%- include('../includes/header.ejs') %>

      <main>
        <label for="titre">Titre de la page :</label>
        <input type="text" id="titre" name="titre" value="un titre">

        <div id="div_editor1">
          <p>Initial Document Content</p>
        </div>

        <button class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5"
          onclick="btngetHTMLCode();return false;">
          Enregister
        </button>
      </main>

      <%- include('../includes/end.ejs') %>

  </body>

  <script> var editor1 = new RichTextEditor("#div_editor1");</script>

  <script>
    async  function btngetHTMLCode() {
      let titre = document.getElementById('titre').value
      data = new URLSearchParams();
      data.append("pageBody",editor1.getHTMLCode())
      data.append("titre", titre)
      try {
        const response =   await fetch('/newPage/add', {
          method: 'post',
          body: data
        
        });
        console.log('Completed!', response);
      } catch (err) {
        console.error(`Error: ${err}`);
      }
    }

  </script>




  </html>