<%- include('../includes/head.ejs')  %> 

</head>

<body>

    <%- include("../includes/header.ejs")  %> 
    <main>
        <h1>Erreur 404</h1>
    </main>

    <%- include('../includes/end.ejs')  %>
</body>